#config settings for cnode.fwall

#cardano node port number
CARDANO_PORT=**CHANGE**

#max connections before ip gets banned
CONNECTIONS_THRESHOLD=2

#excluded addresses (add your core producer!) - list separated with a comma
EXCLUDE_IP=**CHANGE**

#time to ban (in minutes)
BAN_TIME=60m

#db file to store active bans
IPBAN_DB=ipban.db

#iptables rules you always want to be active
IPTABLES_RULES=iptables.rules

#dependencies
SQLITE_EXE=/usr/bin/sqlite3
IPTABLES_EXE=/usr/sbin/iptables
NETSTAT_EXE=/usr/bin/netstat
MAIL_EXE=/usr/bin/mail

#mail config (comment out MAIL_EXE to disable mail)
MAIL_TO=**CHANGE**
MAIL_FROM=**CHANGE**

#run script every (use s for sec, use m for minutes)
INTERVAL=30s

